{
  "extends": "airbnb/legacy",
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "mocha/no-exclusive-tests": 2,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "spaced-comment": 0,
    "vars-on-top": 0
  }
}
